doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
        title In Over Our Heads Show
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat', type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
        
        script(src='js/app.js')
        
    body
        include ./header.jade
        div(id='content')
            div(id='episode-list')
                ul
                    //- Loop through all episodes in reverse order (making it newest first)
                    each episode, index in podcast.episodes.reverse()
                        if episode.info.id == podcast.latest.info.id
                            li(id=episode.info.id, class="selected") 
                                h2 Episode #{episode.info.number}
                                h3 #{episode.info.title}
                        else
                            li(id=episode.info.id) 
                                h2 Episode #{episode.info.number}
                                h3 #{episode.info.title}
                
            div(id='show-notes')
                h2 Episode #{podcast.latest.info.number}: #{podcast.latest.info.title}
                p(class="recording-ts") Recorded on #{podcast.latest.info.pubDate.format('ddd, MMM D, YYYY')}
                div(id="notes-content")
                    != podcast.latest.content.text
        
        include ./footer.jade